Develop the web application using node red/Develop  the web application using node red.txt
[{"id":"ec7e2e9737ec53b8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ec21f9dcf835d74f","type":"ibmiot in","z":"ec7e2e9737ec53b8","authentication":"apiKey","apiKey":"e0966616e2cb6d13","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Vaishu","applicationId":"","deviceType":"Childsafetygadget","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":40,"wires":[["59b8e5b946ca652e","576e611e7ca5e38a","b1c32ace10b9d597"]]},{"id":"59b8e5b946ca652e","type":"debug","z":"ec7e2e9737ec53b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"3bcadea272363ab5","type":"ui_gauge","z":"ec7e2e9737ec53b8","name":"","group":"ad62a073f3e23d83","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":100,"wires":[]},{"id":"576e611e7ca5e38a","type":"function","z":"ec7e2e9737ec53b8","name":"Temperature node","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["3bcadea272363ab5"]]},{"id":"a02d3a96b3399c33","type":"ui_button","z":"ec7e2e9737ec53b8","name":"","group":"ad62a073f3e23d83","order":1,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":200,"wires":[["ad3bb621bfbfd481","7eeca386df8430c5"]]},{"id":"ad3bb621bfbfd481","type":"debug","z":"ec7e2e9737ec53b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"5dff4a5ff60aecea","type":"ui_button","z":"ec7e2e9737ec53b8","name":"","group":"ad62a073f3e23d83","order":2,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":240,"wires":[["ad3bb621bfbfd481","7eeca386df8430c5"]]},{"id":"7eeca386df8430c5","type":"ibmiot out","z":"ec7e2e9737ec53b8","authentication":"apiKey","apiKey":"e0966616e2cb6d13","outputType":"cmd","deviceId":"Vaishu","deviceType":"Childsafetygadget","eventCommandType":"onoff","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":200,"wires":[]},{"id":"b98dc5535607e350","type":"http in","z":"ec7e2e9737ec53b8","name":"","url":"","method":"get","upload":false,"x":0,"y":0,"wires":[[]]},{"id":"abe2d6f07e49f7b3","type":"http in","z":"ec7e2e9737ec53b8","name":"","url":"","method":"get","upload":false,"x":0,"y":0,"wires":[[]]},{"id":"9c0490939ae54f9c","type":"http in","z":"ec7e2e9737ec53b8","name":"","url":"","method":"get","upload":false,"x":0,"y":0,"wires":[[]]},{"id":"0750ebdca286c2f2","type":"http response","z":"ec7e2e9737ec53b8","name":"","statusCode":"","headers":{},"x":0,"y":0,"wires":[]},{"id":"5d628e931ba9592e","type":"http in","z":"ec7e2e9737ec53b8","name":"","url":"","method":"get","upload":false,"x":0,"y":0,"wires":[[]]},{"id":"ceafb438c3f70050","type":"http in","z":"ec7e2e9737ec53b8","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["0b2c249c1f91aea4"]]},{"id":"b1c32ace10b9d597","type":"cloudant out","z":"ec7e2e9737ec53b8","name":"","cloudant":"","database":"weather","service":"node-red-cikhd-2022--cloudant-1668167443758-16711","payonly":false,"operation":"insert","x":400,"y":380,"wires":[]},{"id":"676fb82a402dd10e","type":"http in","z":"ec7e2e9737ec53b8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["8bc9a4cfd0e79e77"]]},{"id":"6a8a4190106c6524","type":"http response","z":"ec7e2e9737ec53b8","name":"","statusCode":"","headers":{},"x":530,"y":160,"wires":[]},{"id":"8bc9a4cfd0e79e77","type":"function","z":"ec7e2e9737ec53b8","name":"httpfunction node","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["6a8a4190106c6524"]]},{"id":"5204a256623d415b","type":"inject","z":"ec7e2e9737ec53b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(\"name\":\"vaishu","payloadType":"json","x":200,"y":400,"wires":[["b1c32ace10b9d597"]]},{"id":"918b1233202f9cdc","type":"http response","z":"ec7e2e9737ec53b8","name":"","statusCode":"","headers":{},"x":570,"y":340,"wires":[]},{"id":"0b2c249c1f91aea4","type":"function","z":"ec7e2e9737ec53b8","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["918b1233202f9cdc","7eeca386df8430c5","ad3bb621bfbfd481"]]},{"id":"e0966616e2cb6d13","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ad62a073f3e23d83","type":"ui_group","name":"weather monitoring","tab":"b961668f91509b50","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b961668f91509b50","type":"ui_tab","name":"control","icon":"dashboard","disabled":false,"hidden":false}]